$def with (name, form, mess)
$var title: Mess: $name

$if mess:
    $:mess
$else:
    <form action="" method="post">
        $:form.render()
    </form>
    <hr />
    <div id="md-preview"></div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/editor.js"></script>
