html{
    height: 100%;
}
body{
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    background-color: #252923;
    color: #A6E22E;
    height: 100%;
    width: 99%;
    margin-top: 0px;
}

h1{
    color: #E6DB74;
}

h2{
    color: #C4BE89;
}

@hr-colour: #4C4926;
hr{
    width: 80%;
    height: 1px;
    border: none;
    color: @hr-colour;
    background-color: @hr-colour;
}

pre{
    font-family: 'Ubuntu Mono', monospace;
}

textarea{
    width: 100%;
}

blockquote{
    color: #6D8E29;
    padding-left: 1em;
    border-left: 4px solid #6D8E29;
}

a:link{ /* Unvisited Link */
    color: #66D9EF;
}
a:visited { /* visited link */
    color: #AE81FF;
} 
a:hover { /* mouse over link */
    color: #B3F3FF;
}
a:active { /* selected link */
    color: #BCA3A3;
}

@content-width: 40em;
@vertical-border: 1px solid black;

.column{
    min-height: 100%;
    border-left: @vertical-border;
    border-right: @vertical-border;
    background-color: #272822;
    width: @content-width;
    top: 0;
}

#content{
    padding-top: 8px;
    .column;
}
/*
div #md-preview{
    .column;
    right: 0;
    margin-right: 1em;
    position: absolute;
}*/

#footer-links {
    color: #4C4926;
    position: relative;
    clear: both;
    bottom: 0px;
    height: 30px;
    border: none;
    padding: 0 0 0 0;
    text-align: center;
    width: 99%;
    a:link{
        color: #4C4926;
    }
    a:visited{
        color: #4C4926;
    }
    a:hover{
        color: #807A40;
    }
    a:active{
        color: #4C4926;
    }
}

#content, .centre {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

